
<%= render 'shared/header' %>


<div class="container">

<h1>Moms#new</h1>
<p>Find me in app/views/moms/new.html.erb</p>

<%= form_for(@mom) do |f| %>

<%= f.label :名前 %><br>
<%= f.text_field :name %><br>

<%= f.label :年齢 %><br>
<%= f.text_field :old %><br>

<%= f.label :住んでいるところ %><br>
<%= f.text_field :live %><br>

<%= f.label :子供のこと %><br>
<%= f.text_area :children %><br>

<%= f.label :プロフィール %><br>
<%= f.text_area :profile %><br>

<%= f.label :理想の人 %><br>
<%= f.text_area :iwish %><br>



<%= f.submit '送信' %>

<% end %>

</div>



<%= render 'shared/footer' %>
