
<%= render 'shared/header' %>
<p id="notice"><%= notice %></p>

<div class="container">

  <div class="mom-show-wrapper">

    <h2>登録内容</h2>

    <p>
      <%= image_tag(@mom.image) %>
    </p>

<p>
  <strong>名前</strong>
  <%= @mom.name %>
</p>



<p>
  <strong>年齢</strong>
  <%= @mom.age %>歳
</p>

<p>
  <strong>おところ</strong>
  <%= @mom.live %>
</p>

<p>
  <strong>子供について</strong>
  <%= @mom.children %>
</p>

<p>
  <strong>自己紹介</strong>
  <%= @mom.profile %>
</p>

<p id="last-show">
  <strong>理想の人</strong>
  <%= @mom.wish %>
</p>




<%= link_to 'Edit', edit_mom_path(@mom) %> |
<%= link_to 'Back', moms_path %>

</div>

</div>

<%= render 'shared/footer' %>
