
<%= render 'shared/header' %>

<div class="container">

  <div class="user-show-wrapper">


    <h2><%= @user.email %><%= link_to '[ 変更 ]', edit_user_registration_path %></h2>


<div class="row">
  <div class="col-md-6">
    <p><%= image_tag(@mom.image) %></p>
    <p id="edit-mom"><%= link_to 'プロフィール変更', edit_mom_path %></p>

  </div>

  <div class="col-md-6">


  <p>
  <strong>名前</strong>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
  <%= @mom.name %>
  </p>



  <p>
  <strong>年齢</strong>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
  <%= @mom.age %>歳
  </p>

  <p>
  <strong>おところ</strong>&nbsp&nbsp&nbsp&nbsp
  <%= @mom.live %>
  </p>


  <p>
  <strong>自己紹介</strong>&nbsp&nbsp&nbsp&nbsp
  <%= @mom.profile %>
  </p>

  <p id="last-show">
  <strong>理想の人</strong>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
  <%= @mom.wish %>
  </p>

  <p>
    <strong>子供について</strong>&nbsp&nbsp&nbsp&nbsp
    <%= @mom.children %>
  </p>


</div>

<!-- md-6 -->

</div>
<!-- row -->

  </div>

</div>




<%= render 'shared/footer' %>
